@import '../node_modules/antd/lib/input/style/index.css';
@import '../node_modules/antd/lib/select/style/index.css';
@import '../node_modules/antd/lib/collapse/style/index.css';
@import '../node_modules/antd/dist/antd.css';


body {
  margin: 0;
  padding: 0;
  /*background-image: linear-gradient(180deg, #fcfcfc, #f7f7f7) !important; */
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.paperform-embed
{
  padding-top:108px;
}