@import '../node_modules/antd/lib/input/style/index.css';
@import '../node_modules/antd/lib/select/style/index.css';


body {
  margin: 0;
  padding: 0;
  background-color: #fafbfb;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
}

.OurWorkWithScroll::-webkit-scrollbar {
  width: 12px;
}

.OurWorkWithScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.OurWorkWithScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}